.button {
    display: block;
    width: 150px;
    margin: 0 auto;
    height: 30px;
    line-height: 30px;
    border: 1px solid white;
    color: white;
    font-weight: bold;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    background-color: blue;
    background-image: blue;
    background-image: blue;
    border-radius: 5px;
}

.back,
.back:hover {
    margin-top: 10px;
}