*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font-family: arial, sans-serif;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid black;
  z-index: 1;
  width: 600px;
  height: 360px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0
}
li {
  padding: 10px 0;
}

a {
  text-decoration: none;
  color: inherit;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.wrapper {
  width: 600px;
  height: 360px;
  position: absolute;
  top: 5px;
  left: 5px;
}

#menu {
  position: absolute;
  width: 600px;
  height: 360px;
  border: 1px solid black;
  z-index: 2;
  text-align: center;
  background-color: grey;
}
#menu.main {
  background-image: url('assets/menu-bg.png');
}


#progress {
  height: 12%;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}
#percent {
  color: white;
  font-weight: bold;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
#progress-bar {
  width: 200px;
}

.sound {
  display: none;
  position: absolute;
  top: 10px;
  left: 10px;
  width: 30px;
  height: 25px;
  cursor: pointer;
  z-index: 3;
}
.sound-on {
  background-image: url('assets/soundOn.png');
  background-repeat: no-repeat;
}
.sound-off {
  background-image: url('assets/soundOff.png');
  background-repeat: no-repeat;
}

#main {
  display: none;
  height: 60%;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}
#main h1 {
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.button {
  display: block;
  width: 150px;
  margin: 0 auto;
  height: 30px;
  line-height: 30px;
  border: 1px solid white;
  color: white;
  font-weight: bold;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  background-color: blue;
  background-image: blue;
  background-image:  blue;
  border-radius: 5px;
}

.button:hover {
  background-color: green;
  background-image: green;
  background-image:    green;
}



.back, .back:hover {
  margin-top: 10px;
}

#game-over {
  display: none;
  text-align: center;
  padding-top: 92px;
  z-index: 1;
  width: 600px;
  height: 360px;
  position: absolute;
}

#scoreTxt {
  color: white;
}

#topScoreTxt {
  color: yellow;
}

#record {
  display: none;
  color: red;
}

h3{
  color: white;
}